* {
    margin:0;  
  }
  
  /* Element Selectors */
  body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #a76714;
    color: #201f1f;
  }
  /* colors and margin */
  h1,
  h2,
  h3 {
    margin-left: left;
    color: #201f1f;
  }


  /* main section size */
  main {
    padding: 300px 0;
  }


  /* list display */
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  
  /* header and foot section */
  header,
  footer {
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: #dc8310;
    color: #201f1f;
  }
  
  header {
    display: flex;
    border-bottom: 10px solid #5d330e;
  }
  
  footer {
    display: flex;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #5d330e ;
    color: #FDF8F5;    
  }
  
  /* image details */
   .image-container {
    display: inline;
    margin: 20px auto;
    width: 300px;
    height: 200px;
   }

  .image-container:hover::before {
    background-image: url("Screen-Shot.png");
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    background-color: #5d330e;

  }
  

  /* section size and color */
  section {
    margin-bottom: 75;
    padding: 20px 10px 40px 10px;
    border-top: 15px solid #dc8310;
  }
  
    
  
  .text-right {
    text-align: center;
    margin: auto;
    line-height: 0px;
  }


/* picture sizes */
  .my-photo {
    height: 300px;
  }

  .screen-shot-one  {
    height: 400px;
    width: 250;
    display: auto;
  }


  .screen-shot-two {
    height: 250px;
    width: auto;
    display: flex;
  }

  .project-one {
    height: 250px;
    width: auto;
    display: flex;
  }

  
/* display of sections */
  main,
  .project-section, 
  .contact-section{
    display: flex;
  }

  /* Tablets - header */
@media screen and (max-width: 992px) {
  header,
  footer,
  nav
}

/* Large smartphones  */
@media screen and (max-width: 768px) {
  header,
  footer,
  nav
}

/* Small smartphones  */
@media screen and (max-width: 576px) {
 header,
 footer,
 nav
}